.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.taskTitleInputError {
    border: 3px solid red;
    outline: none;
}

.task {
    font-weight: bold;
}

.taskDone {
    opacity: 0.5;
}

.filter-btn-active {
    background-color: blueviolet;
    color: white;
}

.tasks-counter {
    font-weight: 100;
    font-size: small;
    background-color: blueviolet;
    margin: 0 5px;
    color: white;
}
